.modal {
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 340px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.title {
  height: 130px;
  display: flex;
  align-items: center;

  h2 {
    font-size: 32px;
    text-align: center;
  }
}

.button {
  height: 130px;
  display: flex;
  align-items: center;
}