.button {
  background: #1C1A1C;
  border: 1px solid #434343;
  border-radius: 4px;
  color: white;

  font-family: inherit;
  font-weight: bold;
  line-height: 24px;

  &:hover {
    background-color: #434343;
  }
}

.normal {
  padding: 2px 14px;
  font-size: 20px
}

.big {
  padding: 8px 28px;
  font-size: 24px;
}