.page {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 16px;
  column-gap: 20px;
}

.image {
  width: 100%;
  flex-grow: 0;
  background-image: url('./object.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.toolbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;

  span {
    text-decoration: underline;
  }
}

.describe {
  overflow: auto;
  font-size: 20px;
  font-weight: 400;
}
