$border-color: #23211b;

.page {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 16px;
  height: 100%;
}

.item {
  height: 100%;
}

.list {
  padding: 8px;
  border: 2px solid $border-color;
}

.image {
  padding: 8px;
  border: 2px solid $border-color;
}

.info {
  overflow-y: auto;
  padding: 18px;
  border: 2px solid $border-color;
}
